$formSize: 410px;
$tileSize: 300px;
$tileMargin: 10px;
$bgSize: 100px;

.modal_container {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
    z-index: 2030;
}



.modal_close_area {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}


.modal_new_board {
    display: flex;
    flex-direction: column;
    position: relative;
    width: $formSize;
    margin: 0 auto;
    top: 5em;
    z-index: 20;

    .modal_new_board-wrap {
        display: flex;
        justify-content: center;

        .create_tile {
            display: block;
            position: relative;
            width: $tileSize;
            height: 100px;
            margin-right: $tileMargin;
            padding: 0.5em;
            background-color: #97a0af;
            border-radius: 5px;
        
            input[type="text"] {
                display: block;
                font-size: 1.15em;
                padding: 0.35em;
                width: 80%;
                color: #fff;
                background: transparent;
                outline: none;
                border: none;
        
                &::placeholder {
                    color: #ccc;
                }
            }
    
            .create_tile-close{
                position: absolute;
                color: white;
                top: 10px;
                right: 10px;
                cursor: pointer;
            }
        }
    }


    .background_grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0;
        width: $bgSize;
        list-style: none;

        .background_grid-item {
            display: block;
            height: 35px;
            width: 35px;
            margin: 2px 5px;
            border-radius: 3px;
            cursor: pointer;
        }
    }

    input[type="submit"] {
        padding: 0.5em 1em;
        margin-top: 0.5em;
        width: 140px;
        color: #fff;
        border-radius: 3px;
        box-shadow: none;
        border: none;
        background-color: #5aac44;
        cursor: pointer;
    }

    .create_tile,
    .background_grid-item {
        &.blue{ background-color: _palette(boards, blue); }
        &.orange{ background-color: _palette(boards, orange); }
        &.green{ background-color: _palette(boards, green); }
        &.red{ background-color: _palette(boards, red); }
        &.purple{ background-color: _palette(boards, purple); }
        &.pink{ background-color: _palette(boards, pink); }
    }

}










.modal_update_card,
.modal_update_list {
    display: block;
    position: relative;
    width: 23em;
    padding: 0.75em;
    margin: 0 auto;
    top: 50px;
    background-color: #f4f5f7;
    z-index: 20;
    border-radius: 5px;

    .modal_col {
        margin-bottom: 0.5em;
    }

    textarea,
    input[type="text"] {
        display: block;
        font-size: 1em;
        padding: 0.35em;
        width: 100%;
        border: none;
        border-radius: 3px;
        box-sizing: border-box;
        background-color: rgba(9,30,66,.04);

        &:focus{
            background: #fff;
            border: none;
            outline: none;
            box-shadow: inset 0 0 0 2px #0079bf;
        }
    }

    input[type="submit"],
    .deleteCard {
        font-size: 0.875em;
        box-shadow: none;
        border: none;
        color: #fff;
        padding: 0.5em 1em;
        border-radius: 3px;
        cursor: pointer;
    }

    input[type="submit"] {
        background-color: #5aac44;
        &:hover{ background-color: lighten(#5aac44, 15%);}
    }

    .deleteCard {
        margin-left: 0.5em;
        background-color: #dc3545;
        &:hover{ background-color: lighten(#dc3545, 15%);}
    }

    .modal_close_btn {
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
    }
}





