.bg-blue { background: _palette(boards, blue) !important; }
.bg-orange { background: _palette(boards, orange) !important; }
.bg-green { background: _palette(boards, green) !important; }
.bg-red { background: _palette(boards, red) !important; }
.bg-purple { background: _palette(boards, purple) !important; }
.bg-pink { background: _palette(boards, pink) !important; }
.bg-gray { background: _palette(boards, gray) !important; }



.boards_index-container {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    padding: 1em;    box-sizing: border-box;

    .boards_index-header {
        .index_title {
            display: block;
            padding: 0.5em;
            margin-bottom: 0.5em;
            border-bottom: 1px solid lightgray;
        }
    }
}


.boards_index-item,
.boards_index-add {
    box-sizing: border-box;
    position: relative;
    height: 80px;
    margin-bottom: 0.75em;
    color: _palette(boards, text);
    cursor: pointer;

    .boards_index-close {
        position: absolute;
        top: 5px;
        right: 5px;
        opacity: 0;
        transition-property: opacity;
        transition-duration: .2s;
        z-index: 20;
    }

    .boards_index-link {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        line-height: 1.2;
        padding: 0.5em 1.75em 0.5em 0.5em;
        overflow: hidden;
        text-overflow: ellipsis;
        box-sizing: border-box;
        transition-property: background-color;
        transition-duration: .2s;  
    }

    &:hover {
        .boards_index-link{
            background-color: rgba(0,0,0,.25);
        }
        .boards_index-close {
            opacity: 1;
        }
    }
}


.boards_index-add .boards_index-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: _palette(site, text);
}