.main-signin{
    padding-top: 2em;
}

.main-signin .logo {
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 2.25em;
    font-weight: 600;
    color: #2185D0;
    padding-bottom: 0.5em;
}

.main-signin .signup:after {
    content: '';
    display: block;
    position: absolute;
    width: 60%;
    bottom: 0;
    border-bottom: 1px solid #dfe0e6;
}


.main-signin h2{
    margin: 1em 0;
}