@import 'static/home_page.css';
@import 'static/signin.css';
@import 'dashboard/board_modal.css';
@import 'dashboard/board_nav.css';
@import 'dashboard/board_index.css';
@import 'dashboard/board_view.css';
@import 'semantic-ui/semantic.css';


body {
    color: #172b4d;
}

#root{
    height: 100%;
}


.content_wrap{
    display: flex;
    flex-direction: column;
    position: relative;
    height: inherit;
    overflow: none;
}


#content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    outline: none;
    overflow: hidden;
}


