.dash-menu{
    background: #026aa7 !important;
    border-radius: 0 !important;
    border: none !important;
    font-size: 1.25em !important;
    color: #f2f2f2 !important;
    margin: 0 !important;
}

.dash-menu .item img.logo {
    margin-right: 0.5em !important;
}

.dash-menu a{
    color: #f2f2f2 !important;
}


.dash-menu .username {
    color: #f2f2f2 !important;
}

.username .material-icons {
    margin-right: 0.25em;
}